<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        function dataGridInit() {
            $('#manager').datagrid({
                //fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'roomNo',
                        title : '房间编号',
                        width : 100
                    },
                    {
                        field : 'checkInCustomerName',
                        title : '客人姓名',
                        width : 100
                    },
                    {
                        field : 'checkInCustomerLinkPhone',
                        title : '联系手机',
                        width : 100
                    },
                    {
                        field : 'orderStatus',
                        title : '入住状态',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0) {
                                return "已入住";
                            } else if (value == 1) {
                                return "已退房";
                            } else if (value == 2) {
                                return "已预订";
                            } else if (value == 3) {
                                return "已取消";
                            }
                        }
                    },
                    {
                        field : 'lockStartDate',
                        title : '入住开始时间',
                        width : 100
                    },
                    {
                        field : 'lockEndDate',
                        title : '入住结束时间',
                        width : 100
                    },
                    {
                        field : 'roomTypeName',
                        title : '房间类别',
                        width : 100
                    },
                    {
                        field : 'sellPrice',
                        title : '销售价',
                        width : 100
                    },
                    {
                        field : 'realCollectMoney',
                        title : '实收金额',
                        width : 100
                    },
                    {
                        field : 'depositMoney',
                        title : '实收押金',
                        width : 100
                    }
                ]]
            });
        }
        function searchOrder() {
            var orderStatus = $('#searchOrderStatus').combobox('getValue');
            if (orderStatus == -1) {
                orderStatus = null;
            }
            var param = {
                "roomNo": $('#searchRoomNo').val(),
                "checkInCustomerName": $('#searchCheckInCustomerName').val(),
                "checkInCustomerLinkPhone": $('#searchCheckInCustomerLinkPhone').val(),
                "orderStatus": orderStatus,
                "page":1, "rows":10
            };
            var result = ajaxSynchPostJson("user/checkInDetail/searchOrder", param);
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }
        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/checkInDetail/searchOrder", {"page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function showOrderDetail() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchGet("user/checkInDetail/getDetail", {"id":id});
                if (result.code == '200') {
                    var data = result.data;
                    $("#detailCheckInCustomerName").val(data.checkInCustomerName);
                    $("#detailCheckInCustomerLinkPhone").val(data.checkInCustomerLinkPhone);
                    $("#detailRoomNo").val(data.roomNo);
                    $("#detailRoomTypeName").val(data.roomTypeName);
                    $("#detailSellPrice").val(data.sellPrice);
                    if (data.orderStatus == 0) {
                        $("#detailOrderStatus").val("已入住");
                    } else if (data.orderStatus == 1) {
                        $("#detailOrderStatus").val("已退房");
                    } else if (data.orderStatus == 2) {
                        $("#detailOrderStatus").val("已预订");
                    } else if (data.orderStatus == 3) {
                        $("#detailOrderStatus").val("已取消");
                    }
                    $("#detailLockStartDate").val(data.lockStartDate);
                    $("#detailLockEndDate").val(data.lockEndDate);
                    $("#detailRealCollectMoney").val(data.realCollectMoney);
                    $("#detailDepositMoney").val(data.depositMoney);
                    $("#detailSellPriceDesc").val(data.sellPriceDesc);
                    $("#detailCheckOutDesc").val(data.checkOutDesc);
                    $("#detailRoomOverallDesc").val(data.roomOverallDesc);
                    $("#detailMerchOrderRemark").val(data.merchOrderRemark);
                    $('#manager_detail').dialog('open');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function showUpdateOrder() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchGet("user/checkInDetail/getDetail", {"id":id});
                if (result.code == '200') {
                    var data = result.data;
                    $("#updateCheckInCustomerName").val(data.checkInCustomerName);
                    $("#updateCheckInCustomerLinkPhone").val(data.checkInCustomerLinkPhone);
                    $("#updateRoomNo").val(data.roomNo);
                    $("#updateRoomTypeName").val(data.roomTypeName);
                    $("#updateSellPrice").val(data.sellPrice);
                    $('#updateOrderStatus').combobox('setValue', data.orderStatus);
                    $('#updateLockStartDate').datetimebox('setValue', data.lockStartDate);
                    $('#updateLockEndDate').datetimebox('setValue', data.lockEndDate);
                    $("#updateRealCollectMoney").val(data.realCollectMoney);
                    $("#updateDepositMoney").val(data.depositMoney);
                    $("#updateSellPriceDesc").val(data.sellPriceDesc);
                    $("#updateCheckOutDesc").val(data.checkOutDesc);
                    $("#updateRoomOverallDesc").val(data.roomOverallDesc);
                    $('#manager_update').dialog('open');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function updateCheckInInfoCommit() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var param = {
                    "id": id,
                    "orderStatus": $('#updateOrderStatus').combobox('getValue'),
                    "lockStartDate": $('#updateLockStartDate').datetimebox('getValue'),
                    "lockEndDate": $('#updateLockEndDate').datetimebox('getValue'),
                    "realCollectMoney": $('#updateRealCollectMoney').val(),
                    "depositMoney": $('#updateDepositMoney').val(),
                    "merchOrderRemark": $('#updateMerchOrderRemark').val()
                };
                var result = ajaxSynchPostJson("user/checkInDetail/updateOrder", param);
                if (result.code == '200') {
                    searchOrder();
                    $('#manager_update').dialog('close');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function showOrderRemark() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchGet("user/checkInDetail/getDetail", {"id":id});
                if (result.code == '200') {
                    var data = result.data;
                    $("#remarkMerchOrderRemark").val(data.merchOrderRemark);
                    $('#manager_detail_remark').dialog('open');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function updaterderRemark() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchPostJson("user/checkInDetail/updateOrderRemark", {"id":id, "merchOrderRemark":$("#remarkMerchOrderRemark").val()});
                if (result.code == '200') {
                    $('#manager_detail_remark').dialog('close');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }

        $(function () {
            dataGridInit();
            searchOrder();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="padding:0 0 0 7px;color:#333;">
            &nbsp;&nbsp;&nbsp;
            房间编号：<input id="searchRoomNo" class="easyui-validatebox" type="text" style="width:100px;" />&nbsp;&nbsp;
            客人姓名：<input id="searchCheckInCustomerName" class="easyui-validatebox" type="text" style="width:100px;" />&nbsp;&nbsp;
            手机号码：<input id="searchCheckInCustomerLinkPhone" class="easyui-validatebox" type="text" style="width:100px;" />&nbsp;&nbsp;
            入住状态：
            <select class="easyui-combobox" id="searchOrderStatus" style="width:100px;">&nbsp;&nbsp;
                <option value="-1" selected="true">请选择</option>
                <option value="0">已入住</option>
                <option value="1">已退房</option>
                <option value="2">已预订</option>
                <option value="3">已取消</option>
            </select>&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchOrder()">查询</a>&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-nav" onclick="showOrderDetail()">查看详情</a>&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="showOrderRemark()">修改备注</a>&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="showUpdateOrder()">修改订单</a>&nbsp;&nbsp;
        </div>
    </div>
</table>

<form id="manager_detail" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:5,width:560,title:'查看详情',modal:true,closed:true,cache:false,iconCls:'icon-nav',
       onClose:function () {
            $('#manager_detail').form('reset');
       }">
    <p>
        客人姓名：
        <input type="text" id="detailCheckInCustomerName" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        手机号码：
        <input type="text" id="detailCheckInCustomerLinkPhone" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        房间编号：
        <input type="text" id="detailRoomNo" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        房间类型：<input type="text" id="detailRoomTypeName" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        销售价格：
        <input type="text" id="detailSellPrice" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        入住状态：
        <input type="text" id="detailOrderStatus" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        入住时间：
        <input type="text" id="detailLockStartDate" readonly="readonly" style="width:130px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        退房时间：
        <input type="text" id="detailLockEndDate" readonly="readonly" style="width:130px;" />
    </p>
    <p>
        实收金额：
        <input type="text" id="detailRealCollectMoney" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        实收押金：
        <input type="text" id="detailDepositMoney" readonly="readonly" style="width:100px;" />
    </p>
    <p>销售价格描述：
        <br />
        <textarea rows="1" cols="60" id="detailSellPriceDesc" readonly />
    </p>
    <p>退房规则描述：
        <br />
        <textarea rows="1" cols="60" id="detailCheckOutDesc" readonly />
    </p>
    <p>房间整体描述：
        <br />
        <textarea rows="1" cols="60" id="detailRoomOverallDesc" readonly />
    </p>
    <p>商户备注：
        <br />
        <textarea rows="1" cols="60" id="detailMerchOrderRemark" readonly />
    </p>
</form>

<form id="manager_update" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:5,width:560,title:'办理入住',modal:true,closed:true,cache:false,iconCls:'icon-nav',
   onClose:function () {
        $('#manager_update').form('reset');
   },
    buttons:[{
                text : '提交',
                iconCls : 'icon-add-green',
                handler : function () {
                    updateCheckInInfoCommit();
                }
            },{
                text:'关闭',
                iconCls : 'icon-redo',
                handler:function(){
                    $('#manager_update').dialog('close');
                }
            }]">
    <p>
        客人姓名：
        <input type="text" id="updateCheckInCustomerName" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        手机号码：
        <input type="text" id="updateCheckInCustomerLinkPhone" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        房间编号：
        <input type="text" id="updateRoomNo" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        房间类型：<input type="text" id="updateRoomTypeName" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        销售价格：
        <input type="text" id="updateSellPrice" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        入住状态：
        <select class="easyui-combobox" id="updateOrderStatus" style="width:100px;">&nbsp;&nbsp;
            <option value="0">已入住</option>
            <option value="1">已退房</option>
            <option value="2">已预订</option>
            <option value="3">已取消</option>
        </select>
    </p>
    <p>
        入住时间：
        <input type="text" id="updateLockStartDate" class="easyui-datetimebox" data-options="editable:false" style="width:150px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        退房时间：
        <input type="text" id="updateLockEndDate" class="easyui-datetimebox" data-options="editable:false" style="width:150px;" />
    </p>
    <p>
        实收金额：
        <input type="text" id="updateRealCollectMoney" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        实收押金：
        <input type="text" id="updateDepositMoney" style="width:100px;" />
    </p>
    <p>销售价格描述：
        <br />
        <textarea rows="1" cols="60" id="updateSellPriceDesc" readonly />
    </p>
    <p>退房规则描述：
        <br />
        <textarea rows="1" cols="60" id="updateCheckOutDesc" readonly />
    </p>
    <p>房间整体描述：
        <br />
        <textarea rows="1" cols="60" id="updateRoomOverallDesc" readonly />
    </p>
    <p>商户备注：
        <br />
        <textarea rows="1" cols="60" id="updateMerchOrderRemark" />
    </p>
</form>

<form id="manager_detail_remark" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:5,width:560,title:'设置备注',modal:true,closed:true,cache:false,iconCls:'icon-nav',
   onClose:function () {
        $('#manager_detail_remark').form('reset');
   },
    buttons:[{
                text : '提交',
                iconCls : 'icon-add-green',
                handler : function () {
                    updaterderRemark();
                }
            },{
                text:'关闭',
                iconCls : 'icon-redo',
                handler:function(){
                    $('#manager_detail_remark').dialog('close');
                }
            }]">
    <p>商户备注：
        <br />
        <textarea rows="1" cols="60" id="remarkMerchOrderRemark" />
    </p>
</form>
</body>
</html>