<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        function searchEmployer() {
            var employerState = $('#employerState').combobox('getValue');
            if (employerState == -1) {
                employerState = null;
            }
            var param = {
                "fullName":$('#fullNameSearch').val(), "phone":$('#phoneSearch').val(),
                "employerState": employerState, "salaryDate":$('#salaryDateSearch').val(),
                "page":1, "rows":10
            };
            var result = ajaxSynchPostJson("user/doEmployerSalary/search", param);
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function dataGridInit() {
            $('#manager').datagrid({
                //fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'fullName',
                        title : '姓名',
                        width : 100,
                    },
                    {
                        field : 'phone',
                        title : '手机号',
                        width : 100,
                    },
                    {
                        field : 'position',
                        title : '职位',
                        width : 100,
                    },
                    {
                        field : 'employerState',
                        title : '状态',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0){
                                return "正常在职";
                            } else {
                                return "已经离职";
                            }
                        }
                    },
                    {
                        field : 'doSalaryState',
                        title : '发薪状态',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0){
                                return "未发放";
                            } else {
                                return "已发放";
                            }
                        }
                    }
                ]]
            });
        }

        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var employerState = $('#employerState').combobox('getValue');
                    if (employerState == -1) {
                        employerState = null;
                    }
                    var param = {
                        "fullName":$('#fullNameSearch').val(), "phone":$('#phoneSearch').val(),
                        "employerState": employerState, "salaryDate":$('#salaryDateSearch').val(),
                        "page":pageNumber, "rows":pageSize
                    };
                    var result = ajaxSynchPostJson("user/doEmployerSalary/search", param);
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function doSalaryDetailShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchGet("user/doEmployerSalary/getSalaryDetail", {"id": id});
                if (result.code == '200') {
                    $('#manager_listSalary_datagrid').datagrid('loadData', result.data);
                    $('#manager_listSalary').dialog('open');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function doSalaryShow() {
            $('#manager_add').dialog('open');
            $('#salaryDateAdd').focus();
        }

        function doSalaryCommit() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                if ($('#manager_add').form('validate')) {
                    var employerId = rows[0].id;
                    var salaryDateStr = $('#salaryDateAdd').val();
                    var paidMoney = $('#paidMoneyAdd').val();
                    var remark = $('#remarkAdd').val();

                    var param = {
                        "employerId":employerId, "salaryDateStr":salaryDateStr,
                        "paidMoney":paidMoney, "remark":remark
                    };

                    var result = ajaxSynchPostJson("user/doEmployerSalary/paySalary", param)
                    if (result.code == '200') {
                        alertSuccess();
                        $('#manager_add').dialog('close');
                        searchEmployer();
                    } else {
                        alertWarn(result.msg);
                    }
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function deleteSalary() {
            var rows = $('#manager_listSalary_datagrid').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                $.messager.confirm('确定操作', "确认删除吗！", function (flag) {
                    if (flag) {
                        var id = rows[0].id;
                        $('#manager_listSalary').datagrid('loading');
                        var result = ajaxSynchGet("user/doEmployerSalary/deleteSalary", {"id": id});
                        $('#manager_listSalary').datagrid('loaded');
                        $('#manager_listSalary').dialog('close');
                        alertInfo(result.msg);
                        searchEmployer();
                    }
                });
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function webPageInit() {
            $('#salaryDateSearch').val([[${salaryDate}]]);
        }

        $(function () {
            dataGridInit();
            webPageInit();
            searchEmployer();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="padding:0 0 0 7px;color:#333;">
            姓名：<input type="text" class="textbox" id="fullNameSearch" style="width:110px" />&nbsp;&nbsp;
            手机号：<input type="text" class="textbox" id="phoneSearch" style="width:110px" />&nbsp;&nbsp;
            工资年月（格式如2019-01）：<input type="text" class="textbox" id="salaryDateSearch" style="width:110px" />&nbsp;&nbsp;
            员工状态：
            <select class="easyui-combobox" id="employerStateSearch" style="width:100px;">
                <option value="0" selected="-1">请选择</option>
                <option value="0">正常在职</option>
                <option value="1">已经离职</option>
            </select>&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchEmployer()">查询</a>&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" onclick="doSalaryDetailShow()">发薪详情</a>&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" onclick="doSalaryShow()">进行发薪</a>&nbsp;&nbsp;
        </div>
    </div>
</table>

<div id="manager_listSalary" class="easyui-window" style="background-color:#F4F4F4;" data-options="top:150,width:1100,title:'查看',modal:true,closed:true,iconCls:'icon-user-add',cache:false,collapsible:false,minimizable:false,maximizable:false,
    onClose:function () {
        $('#manager_listSalary').form('reset');
    }">
    <div id="manager_listSalary_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="deleteSalary()">删除</a>
        </div>
    </div>
    <table id="manager_listSalary_datagrid" class="easyui-datagrid" data-options="fit:false,fitColumns:true,striped:true,rownumbers:true,border:false,singleSelect:true,pagination:false">
        <thead>
        <tr>
            <th data-options="field:'id',hidden:true" />
            <th data-options="field:'salaryDate',width:80">薪资月份</th>
            <th data-options="field:'paidMoney',width:50">支付金额</th>
            <th data-options="field:'createDate',width:100">支付时间</th>
            <th data-options="field:'remark',width:100">备注</th>
        </tr>
        </thead>
    </table>
</div>

<form id="manager_add" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:150,width:320,title:'新增管理',modal:true,closed:true,cache:false,iconCls:'icon-user-add',
       onClose:function () {
            $('#manager_add').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    doSalaryCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#manager_add').dialog('close');
					}
				}]">
    <p>工资月份：<input id="salaryDateAdd" class="easyui-validatebox" data-options="required:true,validType:'length[8,8]',missingMessage:'格式例如2019-01',invalidMessage:'格式错误'," type="text" style="width:200px;" /></p>
    <p>支付金额：<input id="paidMoneyAdd" class="easyui-validatebox" data-options="required:true,min:0,precision:2,missingMessage:'只能是数字'" type="text" style="width:200px;" /></p>
    <p>发放备注：<input id="remarkAdd" class="easyui-validatebox" type="text" style="width:200px;" /></p>
</form>
</body>
</html>