<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        function searchEmployerSalaryHistory() {
            var param = {"employerFullName": $("#fullNameSearch").val(), "employerPhone": $("#phoneSearch").val(), "page":1, "rows":10};
            var result = ajaxSynchPostJson("user/employerEnter/search", param);
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function dataGridInit() {
            $('#manager').datagrid({
                //fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'fullName',
                        title : '姓名',
                        width : 100,
                    },
                    {
                        field : 'phone',
                        title : '手机号',
                        width : 100,
                    },
                    {
                        field : 'position',
                        title : '职位',
                        width : 100,
                    },
                    {
                        field : 'employerState',
                        title : '状态',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0){
                                return "正常在职";
                            } else {
                                return "已经离职";
                            }
                        }
                    }
                ]]
            });
        }

        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var param = {"employerFullName": $("#fullNameSearch").val(), "employerPhone": $("#phoneSearch").val(), "page":pageNumber, "rows":pageSize};
                    var result = ajaxSynchPostJson("user/employerSalaryHistory/search", param);
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function deleteEmployer() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                $.messager.confirm('确定操作', "确认删除吗！", function (flag) {
                    if (flag) {
                        var id = rows[0].id;
                        $('#manager').datagrid('loading');
                        var result = ajaxSynchGet("user/employerSalaryHistory/delete", {"id": id});
                        $('#manager').datagrid('loaded');
                        alertInfo(result.msg);
                        searchEmployerSalaryHistory();
                    }
                });
            } else {
                alertWarn("请先选择记录！");
            }
        }

        $(function () {
            dataGridInit();
            searchEmployerSalaryHistory();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="padding:0 0 0 7px;color:#333;">
            员工姓名：<input type="text" class="textbox" id="fullNameSearch" style="width:110px" />&nbsp;&nbsp;
            手机号码：<input type="text" class="textbox" id="phoneSearch" style="width:110px" />&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchEmployerSalaryHistory()">查询</a>&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="deleteEmployer()">删除</a>
        </div>
    </div>
</table>
</body>
</html>