<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <style>
        .l-btn {
            color: #000000;
        }
    </style>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        var floorHavChoose = null;
        function dataGridInit() {
            $('#manager').datagrid({
                //fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'roomNo',
                        title : '房间编号',
                        width : 100,
                    },
                    {
                        field : 'checkInState',
                        title : '是否可入住',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0) {
                                return "是";
                            } else {
                                return "否";
                            }
                        }
                    },
                    {
                        field : 'roomFloorNum',
                        title : '房间楼层',
                        width : 100,
                    },
                    {
                        field : 'sellPrice',
                        title : '房间售价',
                        width : 100,
                    },
                    {
                        field : 'hourRoomFlag',
                        title : '是否钟点房',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0) {
                                return "否";
                            } else {
                                return "是";
                            }
                        }
                    },
                    {
                        field : 'roomTypeName',
                        title : '类别名称',
                        width : 100,
                    },
                    {
                        field : 'roomWindowFlag',
                        title : '窗户',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0) {
                                return "无";
                            } else if (value == 1) {
                                return "有普通窗户";
                            } else {
                                return "有海景窗户";
                            }
                        }
                    },
                    {
                        field : 'bedNum',
                        title : '床数',
                        width : 100,
                    }
                ]],
                rowStyler: function(index,row){
                    if (row.checkInState != 0) {
                        return 'background-color:#FF0036';
                    }
                }
            });
        }
        function searchRoom() {
            var param = {
                            "roomFloorNum": floorHavChoose,
                            "planCheckInDate": $('#planCheckInDate').datetimebox('getValue'),
                            "planCheckOutDate": $('#planCheckOutDate').datetimebox('getValue'),
                            "page":1, "rows":20
            };
            var result = ajaxSynchPostJson("user/handleCheckIn/searchByFloor", param);
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }
        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 20,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var param = {
                        "roomFloorNum": floorHavChoose,
                        "planCheckInDate": $('#planCheckInDate').datetimebox('getValue'),
                        "planCheckOutDate": $('#planCheckOutDate').datetimebox('getValue'),
                        "page":pageNumber, "rows":pageSize
                    };
                    var result = ajaxSynchPostJson("user/handleCheckIn/searchByFloor", param);
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function floorClick(floorNum) {
            if (floorHavChoose != floorNum) {
                $("#floor_" + floorHavChoose).css("background-color","#F4F4F4");
                $("#floor_" + floorNum).css("background-color","#3C8DBC");
                floorHavChoose = floorNum;
            }
            searchRoom();
        }

        function webPageInit() {
            $('#planCheckInDate').datetimebox('setValue', [[${today}]]);
            $('#planCheckOutDate').datetimebox('setValue', [[${tomorrow}]]);
            var result = ajaxSynchGet("user/handleCheckIn/getFloorList", null);
            if (result.code == '200') {
                var list = result.data;
                if (list == null || list.length == 0) {
                    $("#floorList").html('');
                } else {
                    floorHavChoose = list[0];
                    $("#floor_" + floorHavChoose).css("background-color","#3C8DBC");
                    if (list.indexOf(1) < 0) {
                        $("#floor_1").remove();
                    }
                    if (list.indexOf(2) < 0) {
                        $("#floor_2").remove();
                    }
                    if (list.indexOf(3) < 0) {
                        $("#floor_3").remove();
                    }
                    if (list.indexOf(4) < 0) {
                        $("#floor_4").remove();
                    }
                    if (list.indexOf(5) < 0) {
                        $("#floor_5").remove();
                    }
                    if (list.indexOf(6) < 0) {
                        $("#floor_6").remove();
                    }
                    if (list.indexOf(7) < 0) {
                        $("#floor_7").remove();
                    }
                    if (list.indexOf(8) < 0) {
                        $("#floor_8").remove();
                    }
                    if (list.indexOf(9) < 0) {
                        $("#floor_9").remove();
                    }
                }
            } else {
                alertWarn(result.msg);
            }
        }

        function showRoomCheckInDetail() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchGet("user/handleCheckIn/getRoomCheckInDetail", {"roomId": id});
                if (result.code == '200') {
                    $('#roomCheckInDeatilDataGrid').datagrid({
                        fitColumns : true,
                        striped : true,
                        border : false,
                        columns:[[
                            {field:'roomNo',title:'房间编号',width:100},
                            {
                                field:'orderStatus',
                                title:'订单状态',
                                width:100,
                                formatter: function(value,row,index){
                                    if (value == 0) {
                                        return "已入住";
                                    } else {
                                        return "已预订";
                                    }
                                }
                            },
                            {field:'sellPrice',title:'销售价',width:100},
                            {field:'depositMoney',title:'实收押金',width:100},
                            {field:'checkInCustomerName',title:'客人姓名',width:120},
                            {field:'checkInCustomerLinkPhone',title:'客人手机',width:100},
                            {field:'lockStartDate',title:'开始时间',width:145},
                            {field:'lockEndDate',title:'结束时间',width:145}
                        ]]
                    });
                    $('#roomCheckInDeatilDataGrid').datagrid('loadData', result.data);
                    $('#roomCheckInDeatilWindow').window('open');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn('请选择记录！');
            }
        }

        function showHandleCheckIn() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;



//                $('#manager_add').dialog('open');
//                $('#addRoomTypeId').combobox('setValue', -1);
//                $('#addRoomNo').focus();
            } else {
                alertWarn('请选择记录！');
            }
        }

        $(function () {
            dataGridInit();
            webPageInit();
            searchRoom();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;" id="floorList">
            <a href="#" class="easyui-linkbutton" plain="true"></a>
            <a href="#" id="floor_1" class="easyui-linkbutton" plain="true" onclick="floorClick(1)"><font size="3"><strong>1楼房间</strong></font></a>
            <a href="#" id="floor_2" class="easyui-linkbutton" plain="true" onclick="floorClick(2)"><font size="3"><strong>2楼房间</strong></font></a>
            <a href="#" id="floor_3" class="easyui-linkbutton" plain="true" onclick="floorClick(3)"><font size="3"><strong>3楼房间</strong></font></a>
            <a href="#" id="floor_4" class="easyui-linkbutton" plain="true" onclick="floorClick(4)"><font size="3"><strong>4楼房间</strong></font></a>
            <a href="#" id="floor_5" class="easyui-linkbutton" plain="true" onclick="floorClick(5)"><font size="3"><strong>5楼房间</strong></font></a>
            <a href="#" id="floor_6" class="easyui-linkbutton" plain="true" onclick="floorClick(6)"><font size="3"><strong>6楼房间</strong></font></a>
            <a href="#" id="floor_7" class="easyui-linkbutton" plain="true" onclick="floorClick(7)"><font size="3"><strong>7楼房间</strong></font></a>
            <a href="#" id="floor_8" class="easyui-linkbutton" plain="true" onclick="floorClick(8)"><font size="3"><strong>8楼房间</strong></font></a>
            <a href="#" id="floor_9" class="easyui-linkbutton" plain="true" onclick="floorClick(9)"><font size="3"><strong>9楼房间</strong></font></a>
        </div>

        <div style="padding:0 0 0 7px;color:#333;">
            &nbsp;&nbsp;&nbsp;
            入住时间：<input id="planCheckInDate" class="easyui-datetimebox" data-options="editable:false" style="width:150px" />&nbsp;&nbsp;&nbsp;&nbsp;
            退房时间：<input id="planCheckOutDate" class="easyui-datetimebox" data-options="editable:false" style="width:150px" />&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchRoom()">查询</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-nav" onclick="showRoomCheckInDetail()">房间入住详情</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="showHandleCheckIn()">办理客人入住</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</table>

<div id="roomCheckInDeatilWindow" class="easyui-window" title="房间入住详情" data-options="modal:true,closed:true,minimizable:false,maximizable:false,iconCls:'icon-nav'" style="width:1000px;height:450px;padding:10px;">
    <table id="roomCheckInDeatilDataGrid" style="width:950px;"></table>
</div>
</body>
</html>