<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <style>
        .l-btn {
            color: #000000;
        }
    </style>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        var floorHavChoose = null;
        function dataGridInit() {
            $('#manager').datagrid({
                //fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'roomNo',
                        title : '房间编号',
                        width : 100,
                    },
                    {
                        field : 'checkInState',
                        title : '是否可入住',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0) {
                                return "是";
                            } else {
                                return "否";
                            }
                        }
                    },
                    {
                        field : 'roomFloorNum',
                        title : '房间楼层',
                        width : 100,
                    },
                    {
                        field : 'sellPrice',
                        title : '房间售价',
                        width : 100,
                    },
                    {
                        field : 'hourRoomFlag',
                        title : '是否钟点房',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0) {
                                return "否";
                            } else {
                                return "是";
                            }
                        }
                    },
                    {
                        field : 'roomTypeName',
                        title : '类别名称',
                        width : 100,
                    },
                    {
                        field : 'roomWindowFlag',
                        title : '窗户',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0) {
                                return "无";
                            } else if (value == 1) {
                                return "有普通窗户";
                            } else {
                                return "有海景窗户";
                            }
                        }
                    },
                    {
                        field : 'bedNum',
                        title : '床数',
                        width : 100,
                    }
                ]],
                rowStyler: function(index,row){
                    if (row.checkInState != 0) {
                        return 'background-color:#FF0036';
                    }
                }
            });
        }
        function searchRoom() {
            var param = {
                            "roomFloorNum": floorHavChoose,
                            "planCheckInDate": $('#planCheckInDate').datetimebox('getValue'),
                            "planCheckOutDate": $('#planCheckOutDate').datetimebox('getValue'),
                            "page":1, "rows":20
            };
            var result = ajaxSynchPostJson("user/handleCheckIn/searchByFloor", param);
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }
        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 20,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var param = {
                        "roomFloorNum": floorHavChoose,
                        "planCheckInDate": $('#planCheckInDate').datetimebox('getValue'),
                        "planCheckOutDate": $('#planCheckOutDate').datetimebox('getValue'),
                        "page":pageNumber, "rows":pageSize
                    };
                    var result = ajaxSynchPostJson("user/handleCheckIn/searchByFloor", param);
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function floorClick(floorNum) {
            if (floorHavChoose != floorNum) {
                $("#floor_" + floorHavChoose).css("background-color","#F4F4F4");
                $("#floor_" + floorNum).css("background-color","#3C8DBC");
                floorHavChoose = floorNum;
            }
            searchRoom();
        }

        function webPageInit() {
            $('#planCheckInDate').datetimebox('setValue', [[${startDateTime}]]);
            $('#planCheckOutDate').datetimebox('setValue', [[${endDateTime}]]);
            var result = ajaxSynchGet("user/handleCheckIn/getFloorList", null);
            if (result.code == '200') {
                var list = result.data;
                if (list == null || list.length == 0) {
                    $("#floorList").html('');
                } else {
                    floorHavChoose = list[0];
                    $("#floor_" + floorHavChoose).css("background-color","#3C8DBC");
                    if (list.indexOf(1) < 0) {
                        $("#floor_1").remove();
                    }
                    if (list.indexOf(2) < 0) {
                        $("#floor_2").remove();
                    }
                    if (list.indexOf(3) < 0) {
                        $("#floor_3").remove();
                    }
                    if (list.indexOf(4) < 0) {
                        $("#floor_4").remove();
                    }
                    if (list.indexOf(5) < 0) {
                        $("#floor_5").remove();
                    }
                    if (list.indexOf(6) < 0) {
                        $("#floor_6").remove();
                    }
                    if (list.indexOf(7) < 0) {
                        $("#floor_7").remove();
                    }
                    if (list.indexOf(8) < 0) {
                        $("#floor_8").remove();
                    }
                    if (list.indexOf(9) < 0) {
                        $("#floor_9").remove();
                    }
                    searchRoom();
                }
            } else {
                alertWarn(result.msg);
            }
        }

        function showRoomCheckInDetail() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchGet("user/handleCheckIn/getRoomCheckInDetail", {"roomId": id});
                if (result.code == '200') {
                    $('#roomCheckInDeatilDataGrid').datagrid({
                        fitColumns : true,
                        striped : true,
                        border : false,
                        columns:[[
                            {field:'roomNo',title:'房间编号',width:80},
                            {field:'orderNo',title:'订单编号',width:170},
                            {
                                field:'orderStatus',
                                title:'订单状态',
                                width:70,
                                formatter: function(value,row,index){
                                    if (value == 0) {
                                        return "已入住";
                                    } else {
                                        return "已预订";
                                    }
                                }
                            },
                            {field:'sellPrice',title:'销售价',width:70},
                            {field:'depositMoney',title:'实收押金',width:70},
                            {field:'realCollectMoney',title:'实收金额',width:80},
                            {field:'checkInCustomerName',title:'客人姓名',width:110},
                            {field:'checkInCustomerLinkPhone',title:'客人手机',width:110},
                            {field:'lockStartDate',title:'开始时间',width:150},
                            {field:'lockEndDate',title:'结束时间',width:150}
                        ]]
                    });
                    $('#roomCheckInDeatilDataGrid').datagrid('loadData', result.data);
                    $('#roomCheckInDeatilWindow').window('open');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn('请选择记录！');
            }
        }

        function showHandleCheckIn() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                $('#handlePlanCheckInDate').datetimebox('setValue', $('#planCheckInDate').datetimebox('getValue'));
                $('#handlePlanCheckOutDate').datetimebox('setValue', $('#planCheckOutDate').datetimebox('getValue'));
                $('#handleDepositMoney').val("0");
                $('#handleRealCollectMoney').val("0");
                $('#handleCheckInCustomerName').focus();
                $('#manager_add').dialog('open');
            } else {
                alertWarn('请选择记录！');
            }
        }

        function handleCheckIn() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var param = {
                    "roomId": rows[0].id,
                    "planCheckInDate": $('#handlePlanCheckInDate').datetimebox('getValue'),
                    "planCheckOutDate": $('#handlePlanCheckOutDate').datetimebox('getValue'),
                    "checkInCustomerName": $('#handleCheckInCustomerName').val(),
                    "checkInCustomerLinkPhone": $('#handleCheckInCustomerLinkPhone').val(),
                    "checkInCustomerIdNo": $('#handleCheckInCustomerIdNo').val(),
                    "depositMoney": $('#handleDepositMoney').val(),
                    "realCollectMoney": $('#handleRealCollectMoney').val(),
                    "merchOrderRemark": $('#handleMerchOrderRemark').val(),
                    "orderType": $('#handleOrderType').combobox('getValue')
                };
                var result = ajaxSynchPostJson("user/handleCheckIn/handleCustomerCheckIn", param);
                if (result.code == '200') {
                    searchRoom();
                    $('#manager_add').dialog('close');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn('请选择记录！');
            }
        }

        function showHotelRoomDetail() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchGet("user/hotelRoomEnter/getDetail", {"id":id});
                if (result.code == '200') {
                    var data = result.data;
                    $("#detailRoomNo").val(data.roomNo);
                    $("#detailRoomFloorNum").val(data.roomFloorNum);
                    if (data.roomUpshelfState == 0) {
                        $("#detailRoomUpshelfState").val('上架');
                    } else {
                        $("#detailRoomUpshelfState").val('下架');
                    }
                    $("#detailBedNum").val(data.bedNum);
                    if (data.roomTypeName == null || data.roomTypeName == '') {
                        $("#detailRoomTypeName").val('未选择');
                    } else {
                        $("#detailRoomTypeName").val(data.roomTypeName);
                    }
                    if (data.roomWindowFlag == 0) {
                        $("#detailRoomWindowFlag").val('无');
                    } else if (data.roomWindowFlag == 1) {
                        $("#detailRoomWindowFlag").val('有普通窗户');
                    } else if (data.roomWindowFlag == 2) {
                        $("#detailRoomWindowFlag").val('有海景窗户');
                    }
                    if (data.roomWcFlag == 0) {
                        $("#detailRoomWcFlag").val('无');
                    } else {
                        $("#detailRoomWcFlag").val('有');
                    }
                    if (data.hourRoomFlag == 0) {
                        $("#detailHourRoomFlag").val('否');
                    } else {
                        $("#detailHourRoomFlag").val('是');
                    }
                    $("#detailSellPrice").val(data.sellPrice);
                    if (data.calcCheckInNumBedFlag == 0) {
                        $("#detailCalcCheckInNumBedFlag").val('否');
                    } else {
                        $("#detailCalcCheckInNumBedFlag").val('是');
                    }
                    $("#detailSellPriceDesc").val(data.sellPriceDesc);
                    $("#detailCheckOutDesc").val(data.checkOutDesc);
                    $("#detailRoomOverallDesc").val(data.roomOverallDesc);
                    $('#manager_room_detail').dialog('open');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }

        $(function () {
            dataGridInit();
            webPageInit();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;" id="floorList">
            <a href="#" class="easyui-linkbutton" plain="true"></a>
            <a href="#" id="floor_1" class="easyui-linkbutton" plain="true" onclick="floorClick(1)"><font size="3"><strong>1楼房间</strong></font></a>
            <a href="#" id="floor_2" class="easyui-linkbutton" plain="true" onclick="floorClick(2)"><font size="3"><strong>2楼房间</strong></font></a>
            <a href="#" id="floor_3" class="easyui-linkbutton" plain="true" onclick="floorClick(3)"><font size="3"><strong>3楼房间</strong></font></a>
            <a href="#" id="floor_4" class="easyui-linkbutton" plain="true" onclick="floorClick(4)"><font size="3"><strong>4楼房间</strong></font></a>
            <a href="#" id="floor_5" class="easyui-linkbutton" plain="true" onclick="floorClick(5)"><font size="3"><strong>5楼房间</strong></font></a>
            <a href="#" id="floor_6" class="easyui-linkbutton" plain="true" onclick="floorClick(6)"><font size="3"><strong>6楼房间</strong></font></a>
            <a href="#" id="floor_7" class="easyui-linkbutton" plain="true" onclick="floorClick(7)"><font size="3"><strong>7楼房间</strong></font></a>
            <a href="#" id="floor_8" class="easyui-linkbutton" plain="true" onclick="floorClick(8)"><font size="3"><strong>8楼房间</strong></font></a>
            <a href="#" id="floor_9" class="easyui-linkbutton" plain="true" onclick="floorClick(9)"><font size="3"><strong>9楼房间</strong></font></a>
        </div>

        <div style="padding:0 0 0 7px;color:#333;">
            &nbsp;&nbsp;&nbsp;
            入住时间：<input id="planCheckInDate" class="easyui-datetimebox" data-options="editable:false" style="width:150px" />&nbsp;&nbsp;&nbsp;&nbsp;
            退房时间：<input id="planCheckOutDate" class="easyui-datetimebox" data-options="editable:false" style="width:150px" />&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchRoom()">查询</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-nav" onclick="showHotelRoomDetail()">房间详情</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-nav" onclick="showRoomCheckInDetail()">入住详情</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="showHandleCheckIn()">办理入住</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</table>

<div id="roomCheckInDeatilWindow" class="easyui-window" title="房间入住详情" data-options="modal:true,closed:true,minimizable:false,maximizable:false,iconCls:'icon-nav'" style="width:990px;height:450px;padding:20px;">
    <table id="roomCheckInDeatilDataGrid" style="width:950px;"></table>
</div>

<form id="manager_add" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:25,width:390,title:'办理入住',modal:true,closed:true,cache:false,iconCls:'icon-user-add',
       onClose:function () {
            $('#manager_add').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    handleCheckIn();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#manager_add').dialog('close');
					}
				}]">
    <p>入住时间：<input id="handlePlanCheckInDate" class="easyui-datetimebox" data-options="editable:false" style="width:150px" /></p>
    <p>退房时间：<input id="handlePlanCheckOutDate" class="easyui-datetimebox" data-options="editable:false" style="width:150px" /></p>
    <p>客人姓名：<input id="handleCheckInCustomerName" class="easyui-validatebox" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入用户名',invalidMessage:'用户名长度至少为1位'," type="text" style="width:200px;" /></p>
    <p>手机号码：<input id="handleCheckInCustomerLinkPhone" class="easyui-validatebox" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入手机',invalidMessage:'长度至少为1位'," type="text" style="width:200px;" /></p>
    <p>身份证号：<input id="handleCheckInCustomerIdNo" class="easyui-validatebox" type="text" style="width:200px;" /></p>
    <p>实收押金：<input id="handleDepositMoney" class="easyui-validatebox" data-options="required:true,min:0,precision:2,missingMessage:'押金只能是数字'" type="text" style="width:200px;" /></p>
    <p>实收房费：<input id="handleRealCollectMoney" class="easyui-validatebox" data-options="required:true,min:0,precision:2,missingMessage:'房费只能是数字'" type="text" style="width:200px;" /></p>
    <p>
        入住类别：
        <select class="easyui-combobox" id="handleOrderType" style="width:200px;">
            <option value="0" selected="true">已到店办理入住</option>
            <option value="1">未到店办理预定</option>
        </select>
    </p>
    <p>商户备注：
        <br />
        <textarea rows="1" cols="38" id="handleMerchOrderRemark" />
    </p>
</form>

<form id="manager_room_detail" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:25,width:560,title:'查看详情',modal:true,closed:true,cache:false,iconCls:'icon-nav',
       onClose:function () {
            $('#manager_room_detail').form('reset');
       }">
    <p>
        编&nbsp;&nbsp;&nbsp;号：<input type="text" id="detailRoomNo" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        楼&nbsp;&nbsp;&nbsp;层：<input type="text" id="detailRoomFloorNum" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        状&nbsp;&nbsp;&nbsp;态：
        <input type="text" id="detailRoomUpshelfState" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        床&nbsp;&nbsp;&nbsp;数：
        <input type="text" id="detailBedNum" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        类&nbsp;&nbsp;&nbsp;别：
        <input type="text" id="detailRoomTypeName" readonly="readonly" style="width:175px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        窗&nbsp;&nbsp;&nbsp;户：
        <input type="text" id="detailRoomWindowFlag" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        卫生间：
        <input type="text" id="detailRoomWcFlag" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        钟点房：
        <input type="text" id="detailHourRoomFlag" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        价&nbsp;&nbsp;&nbsp;格：
        <input type="text" id="detailSellPrice" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        床位=可入住人数：
        <input type="text" id="detailCalcCheckInNumBedFlag" readonly="readonly" style="width:100px;" />
    </p>
    <p>销售价格描述：
        <br />
        <textarea rows="1" cols="60" id="detailSellPriceDesc" readonly />
    </p>
    <p>退房规则描述：
        <br />
        <textarea rows="1" cols="60" id="detailCheckOutDesc" readonly />
    </p>
    <p>房间整体描述：
        <br />
        <textarea rows="1" cols="60" id="detailRoomOverallDesc" readonly />
    </p>
</form>
</body>
</html>