<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <style>
        .l-btn {
            color: #000000;
        }
    </style>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        var floorHavChoose = null;
        function dataGridInit() {
            $('#manager').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'hotelName',
                        title : '酒店名称',
                        width : 100,
                    },
                    {
                        field : 'hotelState',
                        title : '状态',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0){
                                return "上架";
                            } else {
                                return "下架";
                            }
                        }
                    },                        
                    {
                        field : 'remark',
                        title : '备注',
                        width : 100,
                    },
                    {
                        field : 'createDate',
                        title : '创建日期',
                        width : 100,
                    }
                ]]
            });
        }
        function searchRoom() {
            var result = ajaxSynchPostJson("user/operationHotel/search", {"roomFloorNum":floorHavChoose, "page":1, "rows":10});
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }
        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/operationHotel/search", {"page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function floorClick(floorNum) {
            if (floorHavChoose != floorNum) {
                $("#floor_" + floorHavChoose).css("background-color","#F4F4F4");
                $("#floor_" + floorNum).css("background-color","#3C8DBC");
                floorHavChoose = floorNum;
            }
            searchRoom();
        }

        function webPageInit() {
            var result = ajaxSynchGet("user/handleCheckIn/getFloorList", null);
            if (result.code == '200') {
                var list = result.data;
                if (list == null || list.length == 0) {
                    $("#floorList").html('');
                } else {
                    floorHavChoose = list[0];
                    $("#floor_" + floorHavChoose).css("background-color","#3C8DBC");
                    if (list.indexOf(1) < 0) {
                        $("#floor_1").remove();
                    }
                    if (list.indexOf(2) < 0) {
                        $("#floor_2").remove();
                    }
                    if (list.indexOf(3) < 0) {
                        $("#floor_3").remove();
                    }
                    if (list.indexOf(4) < 0) {
                        $("#floor_4").remove();
                    }
                    if (list.indexOf(5) < 0) {
                        $("#floor_5").remove();
                    }
                    if (list.indexOf(6) < 0) {
                        $("#floor_6").remove();
                    }
                    if (list.indexOf(7) < 0) {
                        $("#floor_7").remove();
                    }
                    if (list.indexOf(8) < 0) {
                        $("#floor_8").remove();
                    }
                    if (list.indexOf(9) < 0) {
                        $("#floor_9").remove();
                    }
                }
            } else {
                alertWarn(result.msg);
            }
        }

        $(function () {
            dataGridInit();
            webPageInit();
            searchRoom();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;" id="floorList">
            <a href="#" class="easyui-linkbutton" plain="true"></a>
            <a href="#" id="floor_1" class="easyui-linkbutton" plain="true" onclick="searchRoom(1)"><font size="3"><strong>1楼房间</strong></font></a>
            <a href="#" id="floor_2" class="easyui-linkbutton" plain="true" onclick="searchRoom(2)"><font size="3"><strong>2楼房间</strong></font></a>
            <a href="#" id="floor_3" class="easyui-linkbutton" plain="true" onclick="searchRoom(3)"><font size="3"><strong>3楼房间</strong></font></a>
            <a href="#" id="floor_4" class="easyui-linkbutton" plain="true" onclick="searchRoom(4)"><font size="3"><strong>4楼房间</strong></font></a>
            <a href="#" id="floor_5" class="easyui-linkbutton" plain="true" onclick="searchRoom(5)"><font size="3"><strong>5楼房间</strong></font></a>
            <a href="#" id="floor_6" class="easyui-linkbutton" plain="true" onclick="searchRoom(6)"><font size="3"><strong>6楼房间</strong></font></a>
            <a href="#" id="floor_7" class="easyui-linkbutton" plain="true" onclick="searchRoom(7)"><font size="3"><strong>7楼房间</strong></font></a>
            <a href="#" id="floor_8" class="easyui-linkbutton" plain="true" onclick="searchRoom(8)"><font size="3"><strong>8楼房间</strong></font></a>
            <a href="#" id="floor_9" class="easyui-linkbutton" plain="true" onclick="searchRoom(9)"><font size="3"><strong>9楼房间</strong></font></a>
        </div>

        <!--/*
        <div style="padding:0 0 0 7px;color:#333;">
            角色名：<input type="text" class="textbox" id="unameSearch" style="width:110px" />
            <a href="#" class="easyui-linkbutton" iconCls="icon-searchForMerchEnter" onclick="searchHotel()">查询</a>
        </div>
        */-->
    </div>
</table>
</body>
</html>