<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        function codeKeyDown() {
            if (event.keyCode == 13) {
                searchHotelRoom();
            }
        }
        function detailHotelRoomShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchGet("user/hotelRoomEnter/getDetail", {"id":id});
                if (result.code == '200') {
                    var data = result.data;
                    $("#detailRoomNo").val(data.roomNo);
                    $("#detailRoomFloorNum").val(data.roomFloorNum);
                    if (data.roomUpshelfState == 0) {
                        $("#detailRoomUpshelfState").val('上架');
                    } else {
                        $("#detailRoomUpshelfState").val('下架');
                    }
                    $("#detailBedNum").val(data.bedNum);
                    if (data.roomTypeName == null || data.roomTypeName == '') {
                        $("#detailRoomTypeName").val('未选择');
                    } else {
                        $("#detailRoomTypeName").val(data.roomTypeName);
                    }
                    if (data.roomWindowFlag == 0) {
                        $("#detailRoomWindowFlag").val('无');
                    } else if (data.roomWindowFlag == 1) {
                        $("#detailRoomWindowFlag").val('有普通窗户');
                    } else if (data.roomWindowFlag == 2) {
                        $("#detailRoomWindowFlag").val('有海景窗户');
                    }
                    if (data.roomWcFlag == 0) {
                        $("#detailRoomWcFlag").val('有');
                    } else {
                        $("#detailRoomWcFlag").val('无');
                    }
                    if (data.hourRoomFlag == 0) {
                        $("#detailHourRoomFlag").val('否');
                    } else {
                        $("#detailHourRoomFlag").val('是');
                    }
                    $("#detailSellPrice").val(data.sellPrice);
                    if (data.calcCheckInNumBedFlag == 0) {
                        $("#detailCalcCheckInNumBedFlag").val('否');
                    } else {
                        $("#detailCalcCheckInNumBedFlag").val('是');
                    }
                    if (data.calcCheckInNumBedFlag == 0) {
                        $("#detailRoomWcFlag").val('是');
                    } else {
                        $("#detailRoomWcFlag").val('否');
                    }
                    $("#detailSellPriceDesc").val(data.sellPriceDesc);
                    $("#detailCheckOutDesc").val(data.checkOutDesc);
                    $("#detailRoomOverallDesc").val(data.roomOverallDesc);
                    $('#manager_detail').dialog('open');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }
        function addHotelRoomShow() {
            $('#manager_add').dialog('open');
            $('#addRoomTypeId').combobox('setValue', -1);
            $('#addRoomNo').focus();
        }
        function editHotelRoomShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchGet("user/hotelRoomEnter/getDetail", {"id":id});
                if (result.code == '200') {
                    var data = result.data;
                    $('#editRoomNo').val(data.roomNo);
                    $('#editRoomFloorNum').combobox('setValue', data.roomFloorNum);
                    $('#editRoomUpshelfState').combobox('setValue', data.roomUpshelfState);
                    $('#editBedNum').val(data.bedNum);
                    if (data.roomTypeId == null) {
                        $('#editRoomTypeId').combobox('setValue', -1);
                    } else {
                        $('#editRoomTypeId').combobox('setValue', data.roomTypeId);
                    }
                    $('#editRoomWindowFlag').combobox('setValue', data.roomWindowFlag);
                    $('#editRoomWcFlag').combobox('setValue', data.roomWcFlag);
                    $('#editHourRoomFlag').combobox('setValue', data.hourRoomFlag);
                    $('#editSellPrice').val(data.sellPrice);
                    $('#editCalcCheckInNumBedFlag').combobox('setValue', data.calcCheckInNumBedFlag);
                    $('#editSellPriceDesc').val(data.sellPriceDesc);
                    $('#editCheckOutDesc').val(data.checkOutDesc);
                    $('#editRoomOverallDesc').val(data.roomOverallDesc);
                    $('#manager_edit').dialog('open');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }
        function addHotelRoomCommit() {
            if ($('#manager_add').form('validate')) {
                var roomNo = $('#addRoomNo').val();
                var roomFloorNum = $('#addRoomFloorNum').combobox('getValue');
                var roomUpshelfState = $('#addRoomUpshelfState').combobox('getValue');
                var bedNum = $('#addBedNum').val();
                var roomTypeId = $('#addRoomTypeId').combobox('getValue');
                if (roomTypeId == -1) {
                    roomTypeId = null;
                }
                var roomWindowFlag = $('#addRoomWindowFlag').combobox('getValue');
                var roomWcFlag = $('#addRoomWcFlag').combobox('getValue');
                var hourRoomFlag = $('#addHourRoomFlag').combobox('getValue');
                var sellPrice = $('#addSellPrice').val();
                var calcCheckInNumBedFlag = $('#addCalcCheckInNumBedFlag').combobox('getValue');
                var sellPriceDesc = $('#addSellPriceDesc').val();
                var checkOutDesc = $('#addCheckOutDesc').val();
                var roomOverallDesc = $('#addRoomOverallDesc').val();

                var param = {
                    "roomNo":roomNo, "roomFloorNum":roomFloorNum,
                    "roomUpshelfState":roomUpshelfState, "bedNum":bedNum,
                    "roomTypeId":roomTypeId, "roomWindowFlag":roomWindowFlag,
                    "roomWcFlag":roomWcFlag, "hourRoomFlag":hourRoomFlag,
                    "sellPrice":sellPrice, "calcCheckInNumBedFlag":calcCheckInNumBedFlag,
                    "sellPriceDesc":sellPriceDesc, "checkOutDesc":checkOutDesc,
                    "roomOverallDesc":roomOverallDesc
                };

                var result = ajaxSynchPostJson("user/hotelRoomEnter/save", param);
                if (result.code == '200') {
                    alertSuccess();
                    $('#manager_add').dialog('close');
                    searchHotelRoom();
                } else {
                    alertWarn(result.msg);
                }
            }
        }
        function editHotelRoomCommit() {
            if ($('#manager_edit').form('validate')) {
                var rows = $('#manager').datagrid('getSelections');
                if (rows.length > 0) {
                    var id = rows[0].id;
                    var roomNo = $('#editRoomNo').val();
                    var roomFloorNum = $('#editRoomFloorNum').combobox('getValue');
                    var roomUpshelfState = $('#editRoomUpshelfState').combobox('getValue');
                    var bedNum = $('#editBedNum').val();
                    var roomTypeId = $('#editRoomTypeId').combobox('getValue');
                    if (roomTypeId == -1) {
                        roomTypeId = null;
                    }
                    var roomWindowFlag = $('#editRoomWindowFlag').combobox('getValue');
                    var roomWcFlag = $('#editRoomWcFlag').combobox('getValue');
                    var hourRoomFlag = $('#editHourRoomFlag').combobox('getValue');
                    var sellPrice = $('#editSellPrice').val();
                    var calcCheckInNumBedFlag = $('#editCalcCheckInNumBedFlag').combobox('getValue');
                    var sellPriceDesc = $('#editSellPriceDesc').val();
                    var checkOutDesc = $('#editCheckOutDesc').val();
                    var roomOverallDesc = $('#editRoomOverallDesc').val();

                    var param = {
                        "id":id,
                        "roomNo":roomNo, "roomFloorNum":roomFloorNum,
                        "roomUpshelfState":roomUpshelfState, "bedNum":bedNum,
                        "roomTypeId":roomTypeId, "roomWindowFlag":roomWindowFlag,
                        "roomWcFlag":roomWcFlag, "hourRoomFlag":hourRoomFlag,
                        "sellPrice":sellPrice, "calcCheckInNumBedFlag":calcCheckInNumBedFlag,
                        "sellPriceDesc":sellPriceDesc, "checkOutDesc":checkOutDesc,
                        "roomOverallDesc":roomOverallDesc
                    };

                    var result = ajaxSynchPostJson("user/hotelRoomEnter/save", param);
                    if (result.code == '200') {
                        alertSuccess();
                        $('#manager_edit').dialog('close');
                        searchHotelRoom();
                    } else {
                        alertWarn(result.msg);
                    }
                }
            }
        }
        function opertHotelRoomState(state) {
            var showMsg = '';
            if (state == 0) {
                showMsg = '您确定上架该酒店房间吗？';
            } else if (state == 1) {
                showMsg = '您确定下架该酒店房间吗？';
            } else {
                showMsg = '您确定删除该酒店房间吗？';
            }
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                $.messager.confirm('确定操作', showMsg, function (flag) {
                    if (flag) {
                        var id = rows[0].id;
                        $('#manager').datagrid('loading');
                        var result = ajaxSynchGet("user/hotelRoomEnter/opert", {"id": id, "state": state});
                        $('#manager').datagrid('loaded');
                        searchHotelRoom();
                        alertInfo(result.msg);
                    }
                });
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function dataGridInit() {
            $('#manager').datagrid({
                //fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'roomNo',
                        title : '房间编号',
                        width : 100,
                    },
                    {
                        field : 'roomFloorNum',
                        title : '房间楼层',
                        width : 100,
                    },
                    {
                        field : 'sellPrice',
                        title : '售价',
                        width : 100,
                    },
                    {
                        field : 'hourRoomFlag',
                        title : '是否钟点房',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0) {
                                return "否";
                            } else {
                                return "是";
                            }
                        }
                    },
                    {
                        field : 'roomTypeName',
                        title : '类别名称',
                        width : 100,
                    },
                    {
                        field : 'roomWindowFlag',
                        title : '窗户',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0) {
                                return "无";
                            } else if (value == 1) {
                                return "有普通窗户";
                            } else {
                                return "有海景窗户";
                            }
                        }
                    },
                    {
                        field : 'bedNum',
                        title : '床数',
                        width : 100,
                    },
                    {
                        field : 'roomUpshelfState',
                        title : '状态',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0){
                                return "上架";
                            } else {
                                return "下架";
                            }
                        }
                    },
                    {
                        field : 'createDate',
                        title : '创建日期',
                        width : 100,
                    }
                ]]
            });
        }
        function searchHotelRoom() {
            var roomNo = $('#roomNoForSearch').val();
            var roomTypeId = $('#roomTypeIdForSearch').combobox('getValue');
            if (roomTypeId == -1) {
                roomTypeId = null;
            }
            var roomFloorNum = $('#roomFloorNumForSearch').combobox('getValue');
            if (roomFloorNum == -1) {
                roomFloorNum = null;
            }
            var roomUpshelfState = $('#roomUpshelfStateForSearch').combobox('getValue');
            var result = ajaxSynchPostJson("user/hotelRoomEnter/search", {"roomNo":roomNo, "roomTypeId":roomTypeId, "roomFloorNum":roomFloorNum, "roomUpshelfState":roomUpshelfState, "page":1, "rows":10});
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }
        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/operationHotel/search", {"page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function webPageInit() {
            var result = ajaxSynchGet("user/hotelRoomEnter/listHotelRoomTypeByCurrentUserReleatHotel", null);
            if (result.code == '200') {
                $('#addRoomTypeId').combobox('loadData', result.data);
                $('#addRoomTypeId').combobox('setValue', -1);

                $('#editRoomTypeId').combobox('loadData', result.data);
                $('#editRoomTypeId').combobox('setValue', -1);

                $('#roomTypeIdForSearch').combobox('loadData', result.data);
                $('#roomTypeIdForSearch').combobox('setValue', -1);
            } else {
                alertWarn(result.msg);
            }
        }

        $(function () {
            dataGridInit();
            webPageInit();
            searchHotelRoom();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addHotelRoomShow()">新增</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="editHotelRoomShow()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="detailHotelRoomShow()">查看</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="opertHotelRoomState(0)">上架</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="opertHotelRoomState(1)">下架</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="opertHotelRoomState(2)">删除</a>
        </div>

        <div style="padding:0 0 0 7px;color:#333;">
            房间编号：<input type="text" class="textbox" id="roomNoForSearch" onkeydown="codeKeyDown()" style="width:110px" />
            房间类型：
            <select class="easyui-combobox" id="roomTypeIdForSearch" style="width:175px;" data-options="valueField:'id',textField:'roomTypeName'"></select>
            房间楼层：
            <select class="easyui-combobox" id="roomFloorNumForSearch" style="width:100px;">
                <option value="-1" selected="true">请选择</option>
                <option value="1">1楼</option>
                <option value="2">2楼</option>
                <option value="3">3楼</option>
                <option value="4">4楼</option>
                <option value="5">5楼</option>
                <option value="6">6楼</option>
                <option value="7">7楼</option>
                <option value="8">8楼</option>
                <option value="9">9楼</option>
            </select>
            房间状态：
            <select class="easyui-combobox" id="roomUpshelfStateForSearch" style="width:100px;">
                <option value="0" selected="true">上架</option>
                <option value="1">下架</option>
            </select>
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchHotelRoom()">查询</a>
        </div>
    </div>
</table>

<form id="manager_detail" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:25,width:560,title:'查看详情',modal:true,closed:true,cache:false,iconCls:'icon-user-add',
       onClose:function () {
            $('#manager_detail').form('reset');
       }">
    <p>
        编&nbsp;&nbsp;&nbsp;号：<input type="text" id="detailRoomNo" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        楼&nbsp;&nbsp;&nbsp;层：<input type="text" id="detailRoomFloorNum" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        状&nbsp;&nbsp;&nbsp;态：
        <input type="text" id="detailRoomUpshelfState" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        床&nbsp;&nbsp;&nbsp;数：
        <input type="text" id="detailBedNum" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        类&nbsp;&nbsp;&nbsp;别：
        <input type="text" id="detailRoomTypeName" readonly="readonly" style="width:175px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        窗&nbsp;&nbsp;&nbsp;户：
        <input type="text" id="detailRoomWindowFlag" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        卫生间：
        <input type="text" id="detailRoomWcFlag" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        钟点房：
        <input type="text" id="detailHourRoomFlag" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        价&nbsp;&nbsp;&nbsp;格：
        <input type="text" id="detailSellPrice" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        床位=可入住人数：
        <input type="text" id="detailCalcCheckInNumBedFlag" readonly="readonly" style="width:100px;" />
    </p>
    <p>销售价格描述：
        <br />
        <textarea rows="1" cols="60" id="detailSellPriceDesc" readonly />
    </p>
    <p>退房规则描述：
        <br />
        <textarea rows="1" cols="60" id="detailCheckOutDesc" readonly />
    </p>
    <p>房间整体描述：
        <br />
        <textarea rows="1" cols="60" id="detailRoomOverallDesc" readonly />
    </p>
</form>

<form id="manager_add" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:25,width:560,title:'新增管理',modal:true,closed:true,cache:false,iconCls:'icon-user-add',
       onClose:function () {
            $('#manager_add').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    addHotelRoomCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#manager_add').dialog('close');
					}
				}]">
    <p>
        编&nbsp;&nbsp;&nbsp;号：<input class="easyui-validatebox" data-options="required:true,validType:'length[1,100]',missingMessage:'房间编号',invalidMessage:'长度至少为1位'," type="text" id="addRoomNo" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        楼&nbsp;&nbsp;&nbsp;层：
        <select class="easyui-combobox" id="addRoomFloorNum" style="width:100px;">
            <option value="1" selected="true">1楼</option>
            <option value="2">2楼</option>
            <option value="3">3楼</option>
            <option value="4">4楼</option>
            <option value="5">5楼</option>
            <option value="6">6楼</option>
            <option value="7">7楼</option>
            <option value="8">8楼</option>
            <option value="9">9楼</option>
        </select>
    </p>
    <p>
        状&nbsp;&nbsp;&nbsp;态：
        <select class="easyui-combobox" id="addRoomUpshelfState" style="width:100px;">
            <option value="0" selected="true">上架</option>
            <option value="1">下架</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        床&nbsp;&nbsp;&nbsp;数：
        <input class="easyui-numberbox" value="1" data-options="required:true,min:0,missingMessage:'房间床数只能是数字'" type="text" id="addBedNum" style="width:100px;" />
    </p>
    <p>
        类&nbsp;&nbsp;&nbsp;别：
        <select class="easyui-combobox" id="addRoomTypeId" style="width:175px;" data-options="valueField:'id',textField:'roomTypeName'">
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        窗&nbsp;&nbsp;&nbsp;户：
        <select class="easyui-combobox" id="addRoomWindowFlag" style="width:100px;">
            <option value="0">没有窗户</option>
            <option value="1" selected="true">有普通窗户</option>
            <option value="2">有海景窗户</option>
        </select>
    </p>
    <p>
        卫生间：
        <select class="easyui-combobox" id="addRoomWcFlag" style="width:100px;">
            <option value="0" selected="true">有独立卫生间</option>
            <option value="1">无独立卫生间</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        钟点房：
        <select class="easyui-combobox" id="addHourRoomFlag" style="width:100px;">
            <option value="0" selected="true">是</option>
            <option value="1">否</option>
        </select>
    </p>
    <p>
        价&nbsp;&nbsp;&nbsp;格：<input class="easyui-numberbox" data-options="required:true,min:0,precision:2,missingMessage:'房间销售价格只能是数字'" type="text" id="addSellPrice" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        床位=可入住人数：
        <select class="easyui-combobox" id="addCalcCheckInNumBedFlag" style="width:100px;">
            <option value="1" selected="true">否</option>
            <option value="0">是</option>
        </select>
    </p>
    <p>销售价格描述：
        <br />
        <textarea rows="1" cols="60" id="addSellPriceDesc" />
    </p>
    <p>退房规则描述：
        <br />
        <textarea rows="1" cols="60" id="addCheckOutDesc" />
    </p>
    <p>房间整体描述：
        <br />
        <textarea rows="1" cols="60" id="addRoomOverallDesc" />
    </p>
</form>

<form id="manager_edit" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:25,width:560,title:'编辑管理',modal:true,closed:true,cache:false,iconCls:'icon-user-add',
       onClose:function () {
            $('#manager_edit').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    editHotelRoomCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#manager_edit').dialog('close');
					}
				}]">
    <p>
        编&nbsp;&nbsp;&nbsp;号：<input class="easyui-validatebox" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入房间编号',invalidMessage:'房间编号长度至少为1位'," type="text" id="editRoomNo" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        楼&nbsp;&nbsp;&nbsp;层：
        <select class="easyui-combobox" id="editRoomFloorNum" style="width:100px;">
            <option value="1" selected="true">1楼</option>
            <option value="2">2楼</option>
            <option value="3">3楼</option>
            <option value="4">4楼</option>
            <option value="5">5楼</option>
            <option value="6">6楼</option>
            <option value="7">7楼</option>
            <option value="8">8楼</option>
            <option value="9">9楼</option>
        </select>
    </p>
    <p>
        状&nbsp;&nbsp;&nbsp;态：
        <select class="easyui-combobox" id="editRoomUpshelfState" style="width:100px;">
            <option value="0" selected="true">上架</option>
            <option value="1">下架</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        床&nbsp;&nbsp;&nbsp;数：
        <input class="easyui-numberbox" data-options="required:true,min:0,missingMessage:'房间床数只能是数字'" type="text" id="editBedNum" style="width:100px;" />
    </p>
    <p>
        类&nbsp;&nbsp;&nbsp;别：
        <select class="easyui-combobox" id="editRoomTypeId" style="width:175px;" data-options="valueField:'id',textField:'roomTypeName'">
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        窗&nbsp;&nbsp;&nbsp;户：
        <select class="easyui-combobox" id="editRoomWindowFlag" style="width:100px;">
            <option value="0" selected="true">没有窗户</option>
            <option value="1">有普通窗户</option>
            <option value="2">有海景窗户</option>
        </select>
    </p>
    <p>
        卫生间：
        <select class="easyui-combobox" id="editRoomWcFlag" style="width:100px;">
            <option value="0" selected="true">有独立卫生间</option>
            <option value="1">无独立卫生间</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        钟点房：
        <select class="easyui-combobox" id="editHourRoomFlag" style="width:100px;">
            <option value="0" selected="true">是</option>
            <option value="1">否</option>
        </select>
    </p>
    <p>
        价&nbsp;&nbsp;&nbsp;格：<input class="easyui-numberbox" data-options="required:true,min:0,precision:2,missingMessage:'房间销售价格只能是数字'" type="text" id="editSellPrice" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        床位=可入住人数：
        <select class="easyui-combobox" id="editCalcCheckInNumBedFlag" style="width:100px;">
            <option value="1" selected="true">否</option>
            <option value="0">是</option>
        </select>
    </p>
    <p>销售价格描述：
        <br />
        <textarea rows="1" cols="60" id="editSellPriceDesc" />
    </p>
    <p>退房规则描述：
        <br />
        <textarea rows="1" cols="60" id="editCheckOutDesc" />
    </p>
    <p>房间整体描述：
        <br />
        <textarea rows="1" cols="60" id="editRoomOverallDesc" />
    </p>
</form>
</body>
</html>