<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        function addHotelRoomTypeShow() {
            var hotelId = $('#hotelList').combobox('getValue');
            if (hotelId == null || hotelId == '') {
                alertWarn("请先选择酒店！");
            } else {
                $('#manager_add').dialog('open');
                $('#hotelRoomTypeNameAdd').focus();
            }
        }
        function editHotelRoomTypeShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchGet("user/hotelRoomType/getDetail", {"id":id});
                if (result.code == '200') {
                    var hotelRoomTypeName = result.data.roomTypeName;
                    var hotelRoomTypeRemark = result.data.remark;
                    $('#hotelRoomTypeNameEdit').val(hotelRoomTypeName);
                    $('#hotelRoomTypeRemarkEdit').val(hotelRoomTypeRemark);
                    $('#manager_edit').dialog('open');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }
        function addHotelRoomTypeCommit() {
            if ($('#manager_add').form('validate')) {
                var hotelId = $('#hotelList').combobox('getValue');
                var roomTypeName = $('#hotelRoomTypeNameAdd').val();
                var remark = $('#hotelRoomTypeRemarkAdd').val();
                var result = ajaxSynchPostJson("user/hotelRoomType/operationSave", {"hotelId":hotelId, "roomTypeName":roomTypeName, "remark":remark});
                if (result.code == '200') {
                    alertSuccess();
                    $('#manager_add').dialog('close');
                    searchHotelRoomType();
                } else {
                    alertWarn(result.msg);
                }
            }
        }
        function editHotelRoomTypeCommit() {
            if ($('#manager_edit').form('validate')) {
                var rows = $('#manager').datagrid('getSelections');
                if (rows.length > 0) {
                    var id = rows[0].id;
                    var hotelRoomTypeName = $('#hotelRoomTypeNameEdit').val();
                    var hotelRoomTypeRemark = $('#hotelRoomTypeRemarkEdit').val();
                    var result = ajaxSynchPostJson("user/hotelRoomType/operationSave", {"id":id, "roomTypeName": hotelRoomTypeName, "remark": hotelRoomTypeRemark})
                    if (result.code == '200') {
                        alertSuccess();
                        $('#manager_edit').dialog('close');
                        searchHotelRoomType();
                    } else {
                        alertWarn(result.msg);
                    }
                }
            }
        }
        function deleteHotelRoomType() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                $.messager.confirm('确定操作', "确定删除吗？删除后，相关联酒店房间的类别都将重置为空！", function (flag) {
                    if (flag) {
                        var id = rows[0].id;
                        $('#manager').datagrid('loading');
                        var result = ajaxSynchGet("user/hotelRoomType/operationDelete", {"id": id});
                        $('#manager').datagrid('loaded');
                        searchHotelRoomType();
                        alertInfo(result.msg);
                    }
                });
            } else {
                alertWarn("请先选择记录！");
            }
        }
        function dataGridInit() {
            $('#manager').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : false,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'roomTypeName',
                        title : '房间类别名称',
                        width : 100,
                    },
                    {
                        field : 'remark',
                        title : '备注',
                        width : 100,
                    },
                    {
                        field : 'createDate',
                        title : '创建日期',
                        width : 100,
                    }
                ]]
            });
        }
        function searchHotelRoomType() {
            var hotelId = $('#hotelList').combobox('getValue');
            var result = ajaxSynchPostJson("user/hotel/search", {"hotelId":hotelId , "page":1, "rows":10});
            if (result.code == '200') {
                $('#manager').datagrid('loadData', result.data);
            }
        }
        function webPageInit() {
            var result = ajaxSynchGet("user/hotel/listAll", null);
            if (result.code == '200') {
                $('#hotelList').combobox('loadData', result.data);
            }
        }
        $(function () {
            dataGridInit();
            searchHotelRoomType();
            webPageInit();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addHotelRoomTypeShow()">新增</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="editHotelRoomTypeShow()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="deleteHotelRoomType()">删除</a>
        </div>
    </div>
    <div style="padding:0 0 0 7px;color:#333;">
        酒店：<select class="easyui-combobox" id="hotelList" style="width:100px;" data-options="valueField:'id',textField:'hotelName'" />
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchHotelRoomType()">查询</a>
    </div>
</table>

<form id="manager_add" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:150,width:320,title:'新增管理',modal:true,closed:true,cache:false,iconCls:'icon-user-add',
       onClose:function () {
            $('#manager_add').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    addHotelRoomTypeCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#manager_add').dialog('close');
					}
				}]">
    <p>类别名称：<input class="easyui-validatebox" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入酒店房间类别名称',invalidMessage:'酒店房间类别名称长度至少为1位'," type="text" id="hotelRoomTypeNameAdd" style="width:200px;" /></p>
    <p>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：<input class="easyui-validatebox" type="text" id="hotelRoomTypeRemarkAdd" style="width:200px; border: 1px solid #95B8E7" /></p>
</form>

<form id="manager_edit" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:150,width:320,title:'编辑管理',modal:true,closed:true,cache:false,iconCls:'icon-user-add',
       onClose:function () {
            $('#manager_edit').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    editHotelRoomTypeCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#manager_edit').dialog('close');
					}
				}]">
    <p>类别名称：<input class="easyui-validatebox" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入酒店房间类别名称',invalidMessage:'酒店房间类别名称长度至少为1位'," type="text" id="hotelRoomTypeNameEdit" style="width:200px;" /></p>
    <p>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：<input class="easyui-validatebox" type="text" id="hotelRoomTypeRemarkEdit" style="width:200px;" /></p>
</form>
</body>
</html>