<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        function dataGridInit() {
            $('#manager').datagrid({
                //fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'orderNo',
                        title : '订单编号',
                        width : 170
                    },
                    {
                        field : 'roomNo',
                        title : '房间编号',
                        width : 100
                    },
                    {
                        field : 'checkInCustomerName',
                        title : '客人姓名',
                        width : 100
                    },
                    {
                        field : 'checkInCustomerLinkPhone',
                        title : '联系手机',
                        width : 100
                    },
                    {
                        field : 'orderStatus',
                        title : '入住状态',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0) {
                                return "已入住";
                            } else if (value == 1) {
                                return "已退房";
                            } else if (value == 2) {
                                return "已预订";
                            } else if (value == 3) {
                                return "已取消";
                            }
                        }
                    },
                    {
                        field : 'lockStartDate',
                        title : '入住开始时间',
                        width : 100
                    },
                    {
                        field : 'lockEndDate',
                        title : '入住结束时间',
                        width : 100
                    },
                    {
                        field : 'roomTypeName',
                        title : '房间类别',
                        width : 100
                    },
                    {
                        field : 'sellPrice',
                        title : '销售价',
                        width : 100
                    },
                    {
                        field : 'realCollectMoney',
                        title : '实收金额',
                        width : 100
                    },
                    {
                        field : 'depositMoney',
                        title : '实收押金',
                        width : 100
                    }
                ]]
            });
        }
        function searchOrder() {
            var param = {
                "profitStatisStartDate": $('#profitStatisStartDate').datetimebox('getValue'),
                "profitStatisEndDate": $('#profitStatisEndDate').datetimebox('getValue'),
                "orderStatus": 1,
                "page":1, "rows":10
            };
            var result = ajaxSynchPostJson("user/profitStatis/searchOrder", param);
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);

                var result = ajaxSynchPostJson("user/profitStatis/getStatis", param);
                if (result.code == '200') {
                    $('#totalOrderCount').text(result.data.totalOrderCount);
                    $('#totalRealCollectMoney').text(result.data.totalRealCollectMoney);
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn(result.msg);
            }
        }
        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var param = {
                        "profitStatisStartDate": $('#profitStatisStartDate').datetimebox('getValue'),
                        "profitStatisEndDate": $('#profitStatisEndDate').datetimebox('getValue'),
                        "orderStatus": 1,
                        "page":pageNumber, "rows":pageSize
                    };
                    var result = ajaxSynchPostJson("user/profitStatis/searchOrder", param);
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function showOrderDetail() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchGet("user/profitStatis/getDetail", {"id":id});
                if (result.code == '200') {
                    var data = result.data;
                    $("#detailCheckInCustomerName").val(data.checkInCustomerName);
                    $("#detailCheckInCustomerLinkPhone").val(data.checkInCustomerLinkPhone);
                    $("#detailRoomNo").val(data.roomNo);
                    $("#detailRoomTypeName").val(data.roomTypeName);
                    $("#detailSellPrice").val(data.sellPrice);
                    if (data.orderStatus == 0) {
                        $("#detailOrderStatus").val("已入住");
                    } else if (data.orderStatus == 1) {
                        $("#detailOrderStatus").val("已退房");
                    } else if (data.orderStatus == 2) {
                        $("#detailOrderStatus").val("已预订");
                    } else if (data.orderStatus == 3) {
                        $("#detailOrderStatus").val("已取消");
                    }
                    $("#detailLockStartDate").val(data.lockStartDate);
                    $("#detailLockEndDate").val(data.lockEndDate);
                    $("#detailRealCollectMoney").val(data.realCollectMoney);
                    $("#detailDepositMoney").val(data.depositMoney);
                    $("#detailSellPriceDesc").val(data.sellPriceDesc);
                    $("#detailCheckOutDesc").val(data.checkOutDesc);
                    $("#detailRoomOverallDesc").val(data.roomOverallDesc);
                    $("#detailMerchOrderRemark").val(data.merchOrderRemark);
                    $('#manager_detail').dialog('open');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }

        $(function () {
            var nowStr = getNowDatetime();
            $('#profitStatisStartDate').datetimebox('setValue', nowStr);
            $('#profitStatisEndDate').datetimebox('setValue', nowStr);
            dataGridInit();
            searchOrder();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            &nbsp;&nbsp;&nbsp;
            开始时间：<input id="profitStatisStartDate" class="easyui-datetimebox" data-options="editable:false" style="width:150px" />&nbsp;&nbsp;
            结束时间：<input id="profitStatisEndDate" class="easyui-datetimebox" data-options="editable:false" style="width:150px" />&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchOrder()">已退房订单查询</a>&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-nav" onclick="showOrderDetail()">查看详情</a>&nbsp;&nbsp;
        </div>
        <div style="margin-bottom:5px;">
            &nbsp;&nbsp;&nbsp;
            已退房订单总数：<span id="totalOrderCount" style="padding-right: 115px"></span>
            已退房营收总额：<span id="totalRealCollectMoney"></span>
        </div>
    </div>
</table>

<form id="manager_detail" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:5,width:560,title:'查看详情',modal:true,closed:true,cache:false,iconCls:'icon-nav',
       onClose:function () {
            $('#manager_detail').form('reset');
       }">
    <p>
        客人姓名：
        <input type="text" id="detailCheckInCustomerName" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        手机号码：
        <input type="text" id="detailCheckInCustomerLinkPhone" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        房间编号：
        <input type="text" id="detailRoomNo" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        房间类型：<input type="text" id="detailRoomTypeName" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        销售价格：
        <input type="text" id="detailSellPrice" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        入住状态：
        <input type="text" id="detailOrderStatus" readonly="readonly" style="width:100px;" />
    </p>
    <p>
        入住时间：
        <input type="text" id="detailLockStartDate" readonly="readonly" style="width:130px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        退房时间：
        <input type="text" id="detailLockEndDate" readonly="readonly" style="width:130px;" />
    </p>
    <p>
        实收金额：
        <input type="text" id="detailRealCollectMoney" readonly="readonly" style="width:100px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        实收押金：
        <input type="text" id="detailDepositMoney" readonly="readonly" style="width:100px;" />
    </p>
    <p>销售价格描述：
        <br />
        <textarea rows="1" cols="60" id="detailSellPriceDesc" readonly />
    </p>
    <p>退房规则描述：
        <br />
        <textarea rows="1" cols="60" id="detailCheckOutDesc" readonly />
    </p>
    <p>房间整体描述：
        <br />
        <textarea rows="1" cols="60" id="detailRoomOverallDesc" readonly />
    </p>
    <p>商户备注：
        <br />
        <textarea rows="1" cols="60" id="detailMerchOrderRemark" readonly />
    </p>
</form>
</body>
</html>